body {
   background-color: lightblue;
}

h1 {
    color: black;
    font-style: bold;
    font-size: 300%;
    text-align: center;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 120px;
    font-size: 125%;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #1DA1F2;
}

.navbar {
	border: 2px solid #666;
	margin-bottom: 20px;	
	margin-top: none;
}

.dropdown-content {
	display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #f1f1f1;
    position: absolute;
}

#friends-dropdown:hover .dropdown-content {
    display: block;
    color: #666;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

#friends-dropdown:hover .dropdown-content li {
	display: block;
    padding: 14px 16px;
    font-size: 115%;
}

#friends-dropdown:hover .dropdown-content li:hover {
    background-color: #ddd;
    font-size: 115%;
}

.tweet {
	border: 1px solid #666;
	color: #666;
	background-color: #f1f1f1;
	margin-top: 10px;
	padding: 4px;
	line-height: 150%;
	font-size: 115%;
	/*width: 100%;*/
}

.tweet_user:hover {
    color: #1DA1F2;
    font-weight: bold;
    text-decoration: underline;
}